{% extends 'base_layout.html' %}
{% load polls_extra %}
{% block title %}{{ product.title }} {% endblock %}
{% load thumbnail %}
{% block content_title %}{{ product.title }} {% endblock %}

{% block main_content %}
<style>
 div.cropped~img
 {

 }
</style>


    <p>
    {{ user.email }}
    </p>

    <script>
    var result_detail_id;
    var productid;
    var basket_thumbnail_url='';
    function change_active_picture(url)
    {
      document.getElementById("mainPreviewImg").src=url;

    }
    function say_hi()
    {
        console.log('hi');
    }
    function add_to_basket()
    {
        var check_if_ordered=document.getElementById('{{ product.id }}')!=null;


        var price_val='sdsds';
        let count_val=0;
        count_val=document.getElementById('num').value;

        $.get('{% url 'addproduct' %}'+'?prid='+'{{ product.id }}'+'&count='+count_val).then(res=>{
            if(res.status==='failed'){alert('موجودی این محصول کمتر از مقدار انتخابی شماست'); return;}
            res.pricevl;count_val=res.countvl;
            price_val=res.pricevl;
            var total_price=document.getElementById('total_price');

            if(!check_if_ordered)
        {
        var parent=document.getElementById('items_container');
        productid='{{ product.id }}';
        result_detail_id=res.detailid;



        parent.innerHTML+='<div class="item-in-cart clearfix" id="{{ product.id }}">'+
                            '<div class="image">'+
                                `<img src=${basket_thumbnail_url} width="124" height="124" alt="cart item" />`+

                            '</div>'+
                            '<div class="desc">'+
                                '<strong><a href="product.html">{{ product.title }}</a></strong>'+
                                '<span class="light-clr qty" id="{{ product.id }}count">'+
                                    'تعداد:'+(parseInt(count_val))
                                  +'<a href="#" class="icon-remove-sign" title="Remove Item" onclick="remove_item(result_detail_id,productid);"></a>'+

                               ' </span>'+
                            '</div>'+
                            '<div class="price">'+
                                '<strong id="{{ product.id }}price">تومان '+price_val+'</strong>'+
                            '</div>'+
                        '</div>';
                                var total_count=document.getElementById('count');
            total_count.innerText=(total_count.innerText!=''?parseInt(total_count.innerText)+1:'1').toString();
    }
        else
        {
            var price_field=document.getElementById('{{ product.id }}price');
        var count_field=document.getElementById('{{ product.id }}count');

            price_field.innerText=price_val.toString();
            count_field.innerHTML='تعداد :' +count_val.toString()+
  '<a href="#" class="icon-remove-sign" title="Remove Item" onclick="remove_item(result_detail_id,productid)"></a>';


        }

        total_price.innerText=res.total_price;
        });


    }
    function add_product_to_wish_list(element)
    {
         $.get('{% url 'add_user_to_wishlist' %}'+'?user-id='+'{{ user.id }}'+'&product-title='+'{{ product.title }}').then(res=>
         {

             switch (res.st)
             {
                 case 'remove':{element.querySelector('img').remove();}break;
                 case 'add':{element.innerHTML+='<img style="position:relative;left:-2%;height: 20px;width: 20px" src="/static/images/bell.png">';}break;
             }
             alert(res.message);
         });
    }

</script>
    <!--  ==========  -->
    <!--  = Main container =  -->
    <!--  ==========  -->
    <div class="container" style="overflow: visible">
        <div class="push-up top-equal blocks-spacer">

            <!--  ==========  -->
            <!--  = Product =  -->
            <!--  ==========  -->
            <div class="row blocks-spacer">

                <!--  ==========  -->
                <!--  = Preview Images =  -->
                <!--  ==========  -->
                <div class="span5">
                    <div class="product-preview">
                        <div class="picture">
                            {% thumbnail product.thumbnail_photo "450x450" crop="center"  as thumbn %}
                            <img src="{{ thumbn.url }}" alt="" width="1200" height="1200" id="mainPreviewImg" style="margin-top: 10px"/>
                                <script>
                                basket_thumbnail_url='{{ thumbn.url }}';
                                </script>
                               {% endthumbnail %}
                        </div>
                        <div class="thumbs clearfix">

                            {% for picture in product.product_images %}
                            <div class="thumb">

                                          {% thumbnail picture.picture "450x450" crop="center"  as thumb %}
    	            	        	    <a  onclick="change_active_picture(this.id);" id="{{ thumb.url }}"><img src="{{ thumb.url }}" alt="" width="800" height="800" /></a>

                                        {% endthumbnail %}


                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!--  ==========  -->
                <!--  = Title and short desc =  -->
                <!--  ==========  -->
                <div class="span7">
                    <div class="product-title">
                        <h1 class="name" style="margin-top: 40px" ><span class="light">{{ product.title }}</span></h1>
                        <div class="meta">
                            <span class="tag">{{ product.price }} تومان</span>
                            <span class="stock">
                                {% if product.amount_left > 0 %}
                                <span class="btn btn-success">موجود</span>
                                    {% else %}
                                <span class="btn btn-danger" >اتمام موجودی</span>
                                    {% if  product|check_if_product_is_favoured:user.id %}
                               <span class="btn" style="background-color: orangered" onclick="add_product_to_wish_list(this)">موجود شد به من اطلاع بده!
                               <img style="position:relative;left:-2%;height: 20px;width: 20px" src="/static/images/bell.png">
                               </span>
                                        {% else %}
                                        <span class="btn" style="background-color: orangered" onclick="add_product_to_wish_list(this)">موجود شد به من اطلاع بده!
                                        </span>
                                        {% endif %}
                                {% endif %}
{#                                <span class="btn btn-warning">تماس بگیرید</span>#}

                            </span>
                        </div>
                    </div>
                    <div class="product-description">
                        <p>{{ product.short_description }}</p>
                        <hr />

                        <!--  ==========  -->
                        <!--  = Add to cart form =  -->
                        <!--  ==========  -->
                    <script>
                        let amount=1;
                        function add_to_amount(value)
                        {
                            amount+=value;
                            if(amount<=10 && amount>=1) {
                                document.getElementById("num").value = amount;
                            }


                        }
                    </script>
                    {% if product.amount_left > 0 and user %}
                        <form action="#" class="form form-inline clearfix">
                            <div class="numbered">
                            	<input type="number"  value="1" style="width: 20px;height: 10px" id="num"  />
                            	<span class="clickable add-one icon-plus-sign-alt" onclick="add_to_amount(+1);"></span>
                            	<span class="clickable remove-one icon-minus-sign-alt" onclick="add_to_amount(-1);"></span>
                            </div>
                            &nbsp;
                            <select name="color" class="span2">
                                <option value="-1">انتخاب رنگ</option>
                                {% for color in product.available_colors %}
                                <option value="blue">{{ color.color }}</option>
                                {% endfor %}
                            </select>
                            &nbsp;

                            <a class="btn btn-danger pull-right" onclick="add_to_basket()" ><i class="icon-shopping-cart" ></i> اضافه به سبد خرید</a>

                        </form>
                          {% endif %}
                        <hr />




                    </div>
                </div>
            </div>

            <!--  ==========  -->
            <!--  = Tabs with more info =  -->
            <!--  ==========  -->
            <div class="row">
                <div class="span12">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-1" data-toggle="tab">جزئیات</a>
                        </li>

                        <li>
                            <a href="#tab-3" data-toggle="tab">نظرات</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="fade in tab-pane active" id="tab-1">
                            <h3>توضیحات محصول</h3>
                            <p>{{ product.main_description }} </p>


                            <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. </p>
                        </div>
<script>
                             var comments=[];
                             var page_comments=[];
                             var result=[];
                             function add_to_comments(user,comment)
                             {
                                 comments.push([user,comment]);

                             }

                             let index=0;
                             function show_comments()
                             {
                                 var doc=document.getElementById('tab-3');
                                 doc.innerHTML='';
                                 for(let i=index;i<index+4;i++)
                                 {

                                     try
                                      {
                                         doc.innerHTML += '<div style="background-color: whitesmoke">' +
                                             '<h2>' +
                                             comments[i][0] +
                                             '</h2>' +
                                             '<h3>' +
                                             comments[i][1] +
                                             '</h3>' +
                                             '</div>' + '<br>';
                                     }

                                     catch (err) {
                                         break;
                                     }
                                 }
                             doc.innerHTML+='<button onclick="change_range(1);"> بعدی</button>'+'<button onclick="change_range(-1);">قبلی </button>';

                             }

                             function change_range(value)
                             {



                                 if(value===1 && index+3<=comments.length){index+=3;}
                                 else if(value===-1 && (index-3)>=0){index-=3;}
                                 show_comments();

                             }
                         </script>

                        <div class="fade tab-pane" id="tab-3">
                        <li class="container">


                            {% for comment in product.load_cooments %} <script>add_to_comments('{{ comment.user }}','{{ comment.comment_text }}');</script>
                             {% endfor %}
                            <script>
                                show_comments();
                            </script>



                        </div>


                        </div>
                        <div class="fade tab-pane" id="tab-4">
                            <p>
                                لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد. حروفچینی لازم در شرایط فعلی لازمه تکنولوژی بود که گذشته، حال و آینده را شامل گردد. سی و پنج درصد از طراحان در قرن پانزدهم میبایست پرینتر در ستون و سطر حروف لازم است، بلکه شناخت این ابزار گاه اساسا بدون هدف بود و سئوالهای زیادی در گذشته بوجود می آید، تنها لازمه آن بود...
                            </p>
                        </div>
                    </div>
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

                <script >
                    function send_comment()
                    {
                        $.get('{% url 'send-comment' %}'+'?pr='+'{{ product.id }}'+'&subject='+
                            document.getElementsByName('subject')[0].value+'&comment_text='+
                            document.getElementsByName('comment_text')[0].value

                        ).then(res=>{});
                        console.log('hi');
                    }
                </script>
                    <div class="span12">


                    </div>
                </div>

            </div>
        </div>
    </div> <!-- /container -->
<div class="container" style="margin-bottom:90px">

 <form style="float: right" method="get" title="ارسال نظر"  >

<ul>
<li>
    <p>
        ارسال نظر
    </p>

</li>
{% for field in comments_form %}
    <li>

{{ field.label }}
    {{ field }}
    </li>

{% endfor %}
</ul>
  <ul>
<button style="color: #a0cc4b" onclick="send_comment()">
    ثبت نظر
</button>
      </ul>
</form>
</div>

{% endblock %}
{% block dynmic_footer %}


{% endblock %}

