{% extends 'base_layout.html' %}
{% block title %} ورود کاربر {% endblock %}
{% block custom_style_override %} {% endblock %}
{% block content_title %} ثبت نام {% endblock %}
{% block main_content %}
<div class="center-align" style="background-color: lightgrey;box-shadow: 10px 10px 10px lightgrey;width: fit-content;margin: auto">
    <form style="margin: auto" method="post" action="{% url 'register_user' %}">
    {% csrf_token %}

{% for field in register_form %}

{{ field.label }}
    {{ field }}
  <b class="error" style="color: red">
  {{ field.errors }}
  </b>
    <br>
{% endfor %}
    <button type="submit" style="background-color: #a0cc4b;color: whitesmoke;height:50px;width: 100px;border: white 2px solid" >

        ثبت نام


    </button>
    </form>
</div>
{% endblock %}