{% extends 'base_layout.html' %}
{% load polls_extra %}
{% load thumbnail %}
{% block content_title %} محصولات {% endblock %}
{% block title %}

    صفحه اصلی {% endblock %}

{% block main_content %}
    <script>
    async function change_value_gradually(dir) {
        const timer = ms => new Promise(res => setTimeout(res, ms))
        var doc=document.getElementById('slide_div');
        var sign=(dir==='left')?1:-1;

        for (let i = 0; i < 100;i++) {
            let right=parseInt(doc.style.right.toString().replace('%',''));

            doc.style.right=(right+sign).toString()+'%';
            await timer(30);
            continue;
        }
    }



    function arrow(dir)
    {
      change_value_gradually(dir);
    }
    </script>
    <style>div.arrows{display: none}</style>


<div style="position: relative">
<div style="position: absolute;left:0%;top:-15%"><img src="/static/images/arrow-right.png" style="height: 25px;width: 25px;float: right" onclick="arrow('left')">
    <img src="/static/images/arrow-left.png" style="height: 25px;width: 25px;float: right"  onclick="arrow('right')"></div>
                    <div class="slide" style="position: relative;right: 0%" id="slide_div">
                        <div class="row">
{% for product in products %}

<div class="span3">
    	            	    <div class="product">
    	            	        <div class="product-img featured">
    	            	            <div class="picture">
                                        {% thumbnail product.thumbnail_photo "450x450" crop="center" as thumb %}
    	            	        	    <img src="{{ thumb.url }}" alt="" width="518" height="358" />
                                        {% endthumbnail %}
    	            	        		<div class="img-overlay">
    	            	        		    <a href="{% url 'show-product-details' product.pk %}" class="btn more btn-primary">{{ product.short_description }}</a>
    	            	        		    <a href="#" class="btn buy btn-danger">خرید</a>
    	            	        		</div>
    	            	            </div>
    	            	        </div>
    	            	        <div class="main-titles">
    	            	            <h4 class="title">{{ product.price|three_digits_currensy}}</h4>
    	            	            <h5 class="no-margin">{{ product.title }}</h5>
    	            	        </div>
    	            	        <p class="desc">{{ product.main_description }}</p>
    	            	        <p class="center-align stars">
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>
                    	            <span class="icon-star stars-clr"></span>

                    	        </p>
    	            	    </div>
                	      </div> <!-- /product -->
{% endfor %}
</div>
</div>
</div>

{% endblock %}
{% block products %}
   <!--  = Most Popular products =  -->
    <!--  ==========  -->
    <div class="most-popular blocks-spacer" style="background-image: url(/static/images/backgrounds/pattern-12.gif)">
    	<div class="container">

    	    <!--  ==========  -->
			<!--  = Title =  -->
			<!--  ==========  -->
    	    <div class="row">
    	    	<div class="span12">
    	    	    <div class="main-titles lined">
    	                <h2 class="title"><span class="light">جدیدترین محصولات فروشگاه</span></h2>
    	            </div>
    	    	</div>
    	    </div> <!-- /title -->

	    	<div class="row popup-products">


               {% for pr in latest_products %}
		        <!--  ==========  -->
				<!--  = Product =  -->
				<!--  ==========  -->
                <div class="span3">
                    <div class="product">
                        <div class="product-img">
                            <div class="picture">
                                {% thumbnail pr.thumbnail_photo "450x450" crop="center" as thumb %}
    	            	        	    <img src="{{ thumb.url }}" alt="" width="540" height="412" />
                                        {% endthumbnail %}

                                <div class="img-overlay">
                                    <a href="{% url 'show-product-details' pk=pr.pk %}" class="btn more btn-primary">توضیحات بیشتر</a>
                                    <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
                                </div>
                            </div>
                        </div>
                        <div class="main-titles no-margin">
                            <h4 class="title">$32</h4>
                            <h5 class="no-margin">{{ pr.title }}</h5>
                        </div>
                        <p class="desc">{{ pr.short_description }}</p>
                        <p class="center-align stars">
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>

                        </p>
                    </div>
                </div> <!-- /product -->

             {% endfor %}










                    	    </div>
    	</div>
    </div> <!-- /most popular -->

{% endblock %}

{% block dynmic_footer %}
<div class="container">

    	    <!--  ==========  -->
			<!--  = Title =  -->
			<!--  ==========  -->
    	    <div class="row">
    	    	<div class="span12">
    	    	    <div class="main-titles lined">
    	                <h2 class="title"><span class="light">محبوبترین</span>محصولات فروشگاه</h2>
    	            </div>
    	    	</div>
    	    </div> <!-- /title -->

	    	<div class="row popup-products">





		        <!--  ==========  -->
				<!--  = Product =  -->
				<!--  ==========  -->
                <div class="span3">
                    <div class="product">
                        <div class="product-img">
                            <div class="picture">
                                <img src="/static/images/dummy/most-popular-products/popular-4.jpg" alt="" width="540" height="412" />
                                <div class="img-overlay">
                                    <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                                    <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
                                </div>
                            </div>
                        </div>
                        <div class="main-titles no-margin">
                            <h4 class="title">$32</h4>
                            <h5 class="no-margin">محصول ویژه 275</h5>
                        </div>
                        <p class="desc">توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید</p>
                        <p class="center-align stars">
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>

                        </p>
                    </div>
                </div> <!-- /product -->
                    	    </div>
    	</div>

{% endblock %}