{% extends 'base_layout.html' %}
{% block title %}تغییر رمز عبور {% endblock %}
{% block main_content %}
{% if asked and not error%}
<div class="container">
<p class="alert-info">
برای تغییر رمز عبور اکانت به ایمیل خود مراجعه نمایید
</p>
</div>
    {% else %}
    <div class="container">
    <form method="post" action="{% url 'ask_for_password_reset' %}" style="margin-left: 450px">
     {% csrf_token %}
            ایمیل:

        <input type="email" class="input-medium" placeholder="ایمیل خود را وارد کنید" name="email">
        <br>
        <b class="error" style="color: red;margin-left: 50px">
             {{ error }}
        </b>
        <br>
        <button type="submit" style="background-color: #a0cc4b;color: white;height:50px;width: 100px;border: white 2px solid;margin-left:36px">
    تغییر رمز عبور
</button>
    </form>
    </div>

    {% endif %}
{% endblock %}