{% extends 'base_layout.html' %}
{% block title %} محصولات مورد علاقه {% endblock %}
{% block main_content %}
{% for pr in products %}
    <div style="background-color: lightgrey;box-shadow: 5px 5px 5px silver;margin-top: 5%;border-radius: 3%">
    <h4>
        عنوان محصول:
    </h4>
    <h5 style="margin-right: 3%">
        {{ pr.title }}
    </h5>
    <h4>
        توضیحات محصول:
    </h4>
    <h5 style="margin-right:3%">
        {{ pr.short_description }}
    </h5>
    <a href="{% url 'show-product-details' pk=pr.id %}" style="margin-right: 48%">
        صفحه محصول
    </a>
    </div>
{% endfor %}
{% endblock %}